html {
  font-size: 10px;
  background-image: url("./weather-background.jpg");

}

.container {
  
  margin:15px auto;
  max-width:1000px;
  padding: 2px;
  border: solid 3px;
  box-shadow: 10px;
  background: linear-gradient(180deg, rgba(36,36,0,1) 1%, rgba(47,239,244,0.28893555713300945) 58%);
}

.header {
  font-size: 4rem;
  /*background-color: lightpink*/;
  text-align: center;
  margin-bottom: 50px;
  border-style: dotted;
  margin-top: 0;
  color:lightcyan
  
    
}

.form{
  display: grid;
  
}
.label {
  font-size: 1.8rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
  font-weight: 800;
}

.input {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  line-height: 2.8rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}

.button {
  background-color:blueviolet;
  color: white;
  padding: 1rem 2rem;
  border: 1px solid rgba(0,0,0,0.75);
  border-radius: 20px;
  font-size: 3rem;
  
}

.button:hover {
  background-color:rosybrown
}



.description{
  display: grid;
  font-family: 'Permanent Marker', cursive;
  font-size: 10rem;
  margin-top: 25px;
  border-radius: 5px;
  border-style: ridge;
  text-align: center;
  background-color: lightblue;
}